# Example observatory configuration file

[[chain]]
id = "agoric-3"
validator_addr = "D1CE9A9EF19196DA9BCEA8484791DC6BA28178B0"
rpc_urls = [
    "https://agoric-rpc.polkachu.com/",
    "https://main.rpc.agoric.net/",
]

[[chain]]
id = "cosmoshub-4"
validator_addr = "95E060D07713070FE9822F6C50BD76BCCBF9F17A"
rpc_urls = [
    "https://cosmos-rpc.polkachu.com/",
    "https://cosmoshub.validator.network/",
]

[[chain]]
id = "neutron-1"
validator_addr = "0161BE816E9B2D368D1717D21650C216DF3F627C"
rpc_urls = [
    "https://neutron-rpc.polkachu.com/",
]

[[chain]]
id = "noble-1"
validator_addr = "9814A41D7ADECFC8686C1B551CFE12A5529CCF47"
rpc_urls = [
    "https://noble-rpc.polkachu.com/",
]

[[chain]]
id = "osmosis-1"
validator_addr = "20EFE186DA91A00AC7F042CD6CB6A1E882C583C7"
rpc_urls = [
    "https://osmosis-rpc.polkachu.com/",
    "https://osmosis-rpc.publicnode.com/",
    "https://rpc.dev-osmosis.zone/",
]

[[chain]]
id = "stride-1"
validator_addr = "D542FA46ABFB3D29FE3E284D4380DE231A4791C8"
rpc_urls = [
    "https://stride-rpc.polkachu.com/",
]

[datadog]
dd_api_key = "urdatadogapikeyhere"